@-ms-viewport{ width: device-width; }

body {
  background-color: papayawhip;
  font-family: sans-serif;
}

@media screen and (max-width: 320px) {
  body {background-color: pink;
  }
}

@media screen and (max-width: 768px) {
  body {background-color: cadetblue;
  }
}

@media screen and (max-width: 1200px) {
  body {background-color:aquamarine;
  }
}

/* li {
  display: inline;
  padding: 20px;
} */

.courses {
  position: fixed;
  bottom: 0px;
}

/* .table-of-contents {
  display: inline;
} */

.mt, .turtle {
  position: relative;
}

.greet-text {
  position: absolute;
  top: 30px;
}

.turtle {
display: flex;
}

.text {
  float: right;
  /* width: 50%; */
  /* margin-left: 550px; */
  font-size: 20px;
  color: sienna;
}

section {
  background-color:burlywood;
  padding: auto;
}

p, #see-red{
  color: red;
  line-height: 1.5;
  font-size: 16px;
}

.blue-text {
  color: blue;
}

.black-text {
  color: black;
}

.mihi {
  color:black;
}

span {
  color: orangered;
}

em {
  display: block;
}

/* .smaller-img {
  width: 500px;
} */

/* .responsive-img {
  max-width: 100%;
  height: auto;
} */

.container {
  padding: 10px 20px;
  border: 2px solid darkred;
  margin: 15px;
  width: 70%;
  line-height: 1.5;
  background-clip: content-box;
  box-shadow: inset 0 0 0 15px yellow; 
} 
/* background-clip and box-shadow properties */
/* from https://stackoverflow.com/questions/14628601/can-i-add-background-color-only-for-padding/35252091#35252091 */

.dropdown-content a {
  color: #551a8b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn:hover {
  background-color: papayawhip;
  cursor: pointer;
}

.DOM-img {
  display: block;
}
