@-ms-viewport{ width: device-width; }
@media screen {

}

.table-of-contents {
  display: inline-block;
}

body {
  background-color: papayawhip;
  font-family: sans-serif;
}

.mt {
  position: relative;
}

.greet {
  position: absolute;
}

section {
  background-color:burlywood;
  padding: auto;
}

p {
  color: red;
}

.smaller-img {
  width: 500px;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}