@-ms-viewport{ width: device-width; }
@media screen {

}

li {
  display: inline;
  padding: 20px;
}

.table-of-contents {
  display: inline-block;
}

body {
  background-color: papayawhip;
  font-family: sans-serif;
}

.mt {
  position: relative;
}

.greet {
  position: absolute;
}

.turtle {
  width: 50%
}

.text {
  float: right;
  width: 50%;
  /* margin-left: 550px; */
}

section {
  background-color:burlywood;
  padding: auto;
}

p, #see-red{
  color: red;
}

em {
  display: block;
}

.smaller-img {
  width: 500px;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}